################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab2_Chernyshov_Figures/.vs/Lab2_Chernyshov_Figures/v15
/Lab2_Chernyshov_Figures/Figures/bin/Debug
/Lab2_Chernyshov_Figures/Figures/obj
/Lab2_Chernyshov_Figures/Helpers
/Lab2_Chernyshov_Figures/Lab2_Chernyshov_Figures/bin/Debug
/Lab2_Chernyshov_Figures/Lab2_Chernyshov_Figures/obj
